<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>barelyhuman.xyz</title>
    <style>
      html {
        font-family: monospace;
      }

      body {
        max-width: 80ch;
        margin: 0 auto;
        padding: 1em;
        font-size: 150%;
      }

      a {
        color: inherit;
      }

      .unstyled {
        list-style-type: none;
        padding-left: 0px;
      }

      li {
        line-height: 2.5rem;
        display: inline-block;
      }

      li > a {
        color: slategray;
      }

      li > a:hover {
        color: #000;
      }
    </style>
  </head>
  <body>
    <h1>barelyhuman.xyz</h1>
    <p>
      <strong>~/</strong>
    </p>
    <ul class="unstyled">
      <li>
        <a href="http://tillwhen.barelyhuman.dev"> tillwhen </a>
      </li>
      <li>
        <a href="http://goblin.barelyhuman.xyz"> goblin </a>
      </li>
    </ul>
  </body>
</html>
